
.image-container{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
}


.sqr-img{
    height: 9.3rem;
    width: 9.3rem;


}

.round-img{
    border-radius: 50%;
}




/* full widht image */

.full-width-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}